@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

/* https://blog.karenying.com/posts/50-shades-of-dark-mode-gray */

header {
    position: sticky;
    width: 100vw;
    height: 100px;
    background-color: #181818;

    display: flex;
    align-items: center;
    justify-content: center;
}

header > h1 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

body {
    background-color: #121212;
    width: 100vw;
    overflow-x: hidden;
}